/* ! Mobile ! */

.wrapper{
    text-align: center;
    margin: 1rem;
}
/* Acceuil */
#portrait {
    width: -webkit-fill-available;
    width: 70%;
}

h4{
    font-weight: bolder;
}

.skill{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

/* Portfolio */

.card-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 1rem;
}

/* Blog */

.card-blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}