{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="wrapper">
    <h1>Contactez moi</h1>
    <p>Vous pouvez me contacter ici :</p>
    <div class="link">

        <a href="mailto:Bonnemberger.gaetan@gmail.com"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://github.com/Gaetan-Bonnemberger"><i class="bi bi-github"></i></a>
        <a href="https://twitter.com/GBonnemberger"><i class="bi bi-twitter"></i></a>
        <a href="https://www.linkedin.com/in/gaetan-bonnemberger/"><i class="bi bi-linkedin"></i></a>

    </div>
</div>
{% endblock %}
