{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger - contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="contact">

<h1>Formulaire de contact<h1>

    <p>N'hesitez pas à me contacter pour d'éventuels projets professionnels</p>

    {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        {# <button type="submit">Envoyer</button> #}
    {{ form_end(our_form) }}


</div>
{% endblock %}
